.opaque{
    opacity: 0.8;
}

.align-center {
    text-align: center;
    margin: auto;
}

.justify {
    text-align: justify
}


@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);


// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-button-typography($custom-typography);
@include mat-toolbar-typography($custom-typography);


// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
